@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@media only screen and (max-height: 100vh){
	.main-div{
	height: auto;
	width: auto;
	background-size: cover;
	}
}

*{
	font-family: Montserrat;
}

.rubik{
	font-family: "Rubik";
}

.column{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.main-div{
	background-image: url('bg.jpg');
	background-repeat: repeat-y;
	padding: 50px;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	position: relative;
	text-align: center;
}

.first{
	position: relative;
	background: #fff;
	border-radius: 10px;
	opacity: 0.9;
	padding: 50px;
	margin: auto;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
				0 10px 10px rgba(0,0,0,0.22);
	margin-top: 70px;
}

h1{
	padding-top: 40px;
	color: black;
	font-size: 3.2em;
	font-weight: 700;
}

h2{
	color: black;
	font-size: 2.4em;
	font-weight: 500;
	padding-top: 5px;
	padding-bottom: 8px;
}

h3{
	color: black;
	font-size: 1.9em;
	font-weight: 500;
	padding-top: 8px;
	padding-bottom: 15px;
}

.second{
	background: red;
	border-radius: 20px;
	z-index: 3;
	margin-top: 40px;
	padding: 25px;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
				0 10px 10px rgba(0,0,0,0.22);
}

.second h2{
	color: white;
	font-size: 3em;
	font-weight: 700;
}

.fas{
	color: red;
}

.invite{
 	color: white;
}